<div>
    
    <div class="form-element">
        <label>Name</label>
        <input type="text" th:field="*{name}">
        <span class="error"  th:errors="*{name}"></span>
    </div>
    <div class="form-element">
        <label>Kilometers</label>
        <input type="number" th:field="*{kilometers}">
        <span class="error"  th:errors="*{kilometers}"></span>
    </div>
    <div class="form-element">
        <label>Price</label>
        <input type="number" th:field="*{price}">
        <span class="error"  th:errors="*{price}"></span>
    </div>
    <div class="form-element">
        <label>Creation</label>
        <input type="datetime-local" th:field="*{creation}">
        <span class="error"  th:errors="*{creation}"></span>
    </div>
    <div class="form-element">
        <label>Email</label>
        <input type="email" th:field="*{email}">
        <span class="error"  th:errors="*{email}"></span>
    </div>
    <div class="form-element">
        <label>Phone number</label>
        <input type="text" th:field="*{phonenumber}">
        <span class="error"  th:errors="*{phonenumber}"></span>
    </div>
    <div class="form-element">
        <label>Good</label>
        <input type="checkbox" th:field="*{good}">
        <span class="error"  th:errors="*{good}"></span>
    </div>
    <div class="form-element">
        <label>Season</label>
        <input type="text" th:field="*{season}">
        <span class="error"  th:errors="*{season}"></span>
    </div>
    <div class="form-element">
        <label>Color</label>
        <input type="text" th:field="*{color}">
        <span class="error"  th:errors="*{color}"></span>
    </div>
    <div class="form-element">
        <label>Image</label>
        <input type="text" th:field="*{image}">
        <span class="error"  th:errors="*{image}"></span>
    </div>
    <div class="form-element">
        <label>PDF</label>
        <input type="text" th:field="*{pdf}">
        <span class="error"  th:errors="*{pdf}"></span>
    </div>
    
    <button>Valider</button>
</div>